/* Page Title */
#maeTitle {
  border-radius: 20px;
  background-color: #3f3f3f41;
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 10px;
  transition: 1s ease-in-out;
  text-shadow: 2px 2px 4px #000000;
}

/* Labels for initial selection */
label[for="moreHours"],
label[for="longerHours"] {
  font-size: 36px;
}

input[type="radio"] {
  width: 30px;
  height: 30px;
}

/* Body Section default formatting */
body {
  color: white;
  background-color: #3f3f3f;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 2s ease-in-out;
}

body.blue div#pollBody {
  text-shadow: 2px 2px 4px #000000;
}

/* center the form on the page using grid */

#pollingContent {
  align-items: center;
  border-radius: 20px;
  background-color: #3f3f3f41;
  display: grid;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

form {
  border-radius: 20px;
  background-color: #3f3f3f41;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* center pollItem */
.pollitem {
  text-align: center;
}

/* pollItem Image Styling - Begin */
img {
  justify-self: center;
  margin: 5px auto;
  width: 100px;
  height: 100px;
}

/* Time of day selection on hover */
#morningImg:hover {
  box-sizing: border-box;
  border: 10px solid #cbbd9b;
  border-radius: 50%;
  opacity: 0.9;
  transition: 2s;
}

#afternoonImg:hover {
  box-sizing: border-box;
  border: 10px solid #b17869;
  border-radius: 50%;
  opacity: 0.9;
  transition: 2s;
}

#eveningImg:hover {
  box-sizing: border-box;
  border: 10px solid #5970a9;
  border-radius: 50%;
  opacity: 0.9;
  transition: 2s;
}
/* pollItem Image Styling - End */

/* Submit button styles - Begin */
#submit {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;
  color: white;
  background-color: #3f3f3f;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

body.yellow #submit:hover {
  box-sizing: border-box;
  color: #cbbd9b;
  border: 10px solid #3f3f3f;
  border-radius: 20px;
  transition: 2s;
}

body.orange #submit:hover {
  box-sizing: border-box;
  color: #b17869;
  border: 10px solid #3f3f3f;
  border-radius: 20px;
  transition: 2s;
}

body.blue #submit:hover {
  box-sizing: border-box;
  color: #5970a9;
  border: 10px solid #3f3f3f;
  border-radius: 20px;
  transition: 2s;
}

#submit:disabled {
  color: red;
  text-decoration: line-through;
}
/* Submit button styles - End */

/* Office Time Animation - Begin */
.expand-animation {
  animation-name: expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  max-height: 0;
}

@keyframes expand {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px; /* set the maximum height you want to allow the element to expand to */
  }
}

/* Office Time Animation - End */

/* Week Day Styling - Begin */
#Monday,
#Tuesday,
#Wednesday,
#Thursday,
#Friday,
#Saturday,
#Sunday {
  /* border-radius: 20px; */
  padding: 5px;
  margin: 5px;
}

/* Grid System for the polling form - Begin */

#pollBodyTimes {
  /*  */
  display: grid;
}

#Monday {
  grid-column: 1;
  grid-row: 1;
  display: grid;
}
/* center align the h4 contained in Monday to its own row and column */
#Monday h4 {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

#Tuesday {
  grid-column: 1;
  grid-row: 2;
  display: grid;
}

#Tuesday h4 {
  /* make the column take up the entire space */
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

/* Grid System for the polling form - End */

/* Week Day Styling - End */

/* if body is yellow, fades #submit color and background color */
/* body.yellow #submit #officeHoursRate .date {
  color: black;
  border-color: black;
  background-color: #cbbd9b;
  transition: 2s ease-in-out;
} */

/* if body is orange, fades #submit color and background color */
/* body.orange #submit #officeHoursRate .date {
  color: black;
  border-color: black;
  background-color: #b17869;
  transition: 2s ease-in-out;
} */

/* if body is blue, fades #submit color and background color */
/* body.blue #submit #officeHoursRate .date {
  color: white;
  border-color: white;
  background-color: #5970a9;
  transition: 2s ease-in-out;
} */
